---
import Nav from "../components/Nav.astro";
import Hpmana from "../components/Hpmana.astro";
import Combatstats from "../components/Combatstats.astro";
import Spells from "../components/Spells.astro";
import Weapons from "../components/Weapons.astro";
import Armor from "../components/Armor.astro";
import Inventory from "../components/Inventory.astro";
import Dice from "../components/Dice.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header>
			<Nav />
		</header>
		<main>
			<h2>Player 1</h2>
			<Dice rollDice="Roll the Dice"/>
			<!-- <form action="/submit" method="post"> -->
			<Hpmana takeDmg="Take Damage" heal="Heal" useMana="Use Mana" gainMana="Restore Mana"/>
			<Combatstats header="Combat Stats" combatLvl="Combat Level:" strLvl="Strength Level:" atkLvl="Attack Level:" defLvl="Defense Level" rngLvl="Ranged Level:" mgcLvl="Magic Level:"/>
			<Spells header="Spells" spell1="Spell 1:" spell2="Spell 2:" spell3="Spell 3:" spell4="Spell 4:" spell5="Spell 5:" spell6="Spell 6:"/>
			<Weapons header="Weapons" wpn1="Weapon 1:" wpn2="Weapon 2:" wpn3="Weapon 3:" wpn4="Weapon 4:"/>
			<Armor header="Armor" head="Head:" torso="Torso:" legs="Legs:" feet="Feet:"/>
			<Inventory header="Inventory" slot1="Slot 1:" slot2="Slot 2:" slot3="Slot 3:" slot4="Slot 4:" slot5="Slot 5:" slot6="Slot 6:"/>
			<input type="submit" value="Submit">
		<!-- </form> -->
		</main>
		<footer>
		</footer>
	</body>
</html>