---
import Nav from "../components/Nav.astro"
import Hpmana from "../components/Hpmana.astro"
import Combatstats from "../components/Combatstats.astro"
import Spells from "../components/Spells.astro";
import Weapons from "../components/Weapons.astro";
import Armor from "../components/Armor.astro"
import Inventory from "../components/Inventory.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header>
			<Nav />
		</header>
		<main>
			<h2>Player 1</h2>
			<form action="">
			<Hpmana />
			<Combatstats />
			<Spells />
			<Weapons />
			<Armor />
			<Inventory />
			<input type="submit" value="Submit">
		</form>
		</main>
		<footer>
		</footer>
	</body>
</html>