---
import Nav from "../components/Nav.astro"
import Hpmana from "../components/Hpmana.astro"
import Combatstats from "../components/Combatstats.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header>
			<Nav />
		</header>
		<main>
			<form action="">
			<Hpmana />
			<h2>Combat Stats</h2>
			<Combatstats />
		</form>
		</main>
		<footer>
		</footer>
	</body>
</html>