---
import "../styles/style.css";
---

<h2>Armor</h2>
<article class="input-article">
	<label for="head">Head:
		<input type="text" id="head">
	</label>
	<label for="torso">Torso:
		<input type="text" id="torso">
	</label>
    <label for="legs">Legs:
		<input type="text" id="legs">
	</label>
    <label for="feet">Feet:
		<input type="text" id="feet">
	</label>
</article>