---

---

<article>
    <label for="combatLvl">Combat Level:
        <input type="text" id="combatLvl">
    </label>
    <label for="strLvl">Strength level:&nbsp;
        <input type="text" id="strLvl">
    </label>
    <label for="atkLvl">Attack Level:&nbsp;&nbsp;&nbsp;
        <input type="text" id="atkLvl">
    </label>
    <label for="defLvl">Defense level:&nbsp;&nbsp;
        <input type="text" id="defLvl">
    </label>
    <label for="rngLvl">Ranged Level:&nbsp;&nbsp;
        <input type="text" id="rngLvl">
    </label>
    <label for="mgcLvl">Magic Level:&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" id="mgcLvl">
    </label>
</article>

<style>
	article{
		display: flex;
		flex-direction: column;
		margin-left: 50px;
	}

	input{
		margin: 10px;
		width: 200px;
	}
</style>