---
import "../styles/style.css";
---
<h2>Combat Stats</h2>

<article class="input-article">
    <label for="combatLvl">Combat Level:
        <input type="text" id="combatLvl">
    </label>
    <label for="strLvl">Strength level:
        <input type="text" id="strLvl">
    </label>
    <label for="atkLvl">Attack Level:
        <input type="text" id="atkLvl">
    </label>
    <label for="defLvl">Defense level:
        <input type="text" id="defLvl">
    </label>
    <label for="rngLvl">Ranged Level:
        <input type="text" id="rngLvl">
    </label>
    <label for="mgcLvl">Magic Level:
        <input type="text" id="mgcLvl">
    </label>
</article>