---
import "../styles/style.css";
const { rollDice } = Astro.props;
---
<div class="dice-container">
    <label class="xLabel" id="xLabel"></label>
    <button type="button" id="rollButton">{rollDice}</button>
</div>

<style>
    .xLabel {
        border: solid black; /* Add the border to the .xLabel class */
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dice-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 15vh;
    }

    button {
        margin-top: 10px;
    }
</style>

<script>
    let x;

    document.getElementById("rollButton").onclick = function () {
        x = Math.floor(Math.random() * 20) + 1;
        document.getElementById("xLabel").innerHTML = x;
    }
</script>