---
import "../styles/style.css";
---
<div class="dice-container">
    <div class="dice">
    </div>
    <button>Roll the dice</button>
</div>

<style>
    .dice {
        border: solid black;
        width: 100px;
        height: 100px;
    }

    .dice-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 15vh;
    }

    button{
        margin-top: 10px;
    }
</style>