---
import "../styles/style.css";
---

<h2>Inventory</h2>
<article class="input-article">
	<label for="slot1">Slot 1:
		<input type="text" id="slot1">
	</label>
	<label for="slot2">Slot 2:
		<input type="text" id="slot2">
	</label>
    <label for="slot3">Slot 3:
		<input type="text" id="slot3">
	</label>
    <label for="slot4">Slot 4:
		<input type="text" id="slot4">
	</label>
    <label for="slot5">Slot 5:
		<input type="text" id="slot5">
	</label>
    <label for="slot6">Slot 6:
		<input type="text" id="slot6">
	</label>
</article>