---
import "../styles/style.css";
---

<h2>Spells</h2>
<article class="input-article">
	<label for="spell1">Spell 1:
		<input type="text" id="spell1">
	</label>
	<label for="spell2">Spell 2:
		<input type="text" id="spell2">
	</label>
	<label for="spell3">Spell 3:
		<input type="text" id="spell3">
	</label>
	<label for="spell4">Spell 4:
		<input type="text" id="spell4">
	</label>
	<label for="spell5">Spell 5:
		<input type="text" id="spell5">
	</label>
	<label for="spell6">Spell 6:
		<input type="text" id="spell6">
	</label>
</article>