---
import "../styles/style.css";
---

<h2>Weapons</h2>
<article class="input-article">
	<label for="weapon1">Weapon 1:
		<input type="text" id="weapon1">
	</label>
	<label for="weapon2">Weapon 2:
		<input type="text" id="weapon2">
	</label>
    <label for="weapon3">Weapon 3:
		<input type="text" id="weapon3">
	</label>
    <label for="weapon4">Weapon 4:
		<input type="text" id="weapon4">
	</label>
</article>